<% if (isProduction) { %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-9V9RMCFEJY"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-9V9RMCFEJY");
</script>
<% } %>
<!-- <%=production%>-->
<!-- <%=isProduction%>-->
<title>XatBy2</title>
<link rel="stylesheet" type="text/css" href="/css/client.css" />
