* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font: 13px Helvetica, Arial;
}

#login-error {
  color: red;
}

#xat-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

#content {
  display: grid;
  grid-template-columns: 10fr minmax(150px, 1fr);
}

#messages {
  overflow: auto;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages li img {
  height: 12px;
  width: 12px;
  border: 1px solid black;
}

#users {
  background: #777;
}

#users li {
  padding: 5px 10px;
  color: white;
  list-style: none;
  border-bottom: 1px solid white;
}

#users li.yourself {
  color: deepskyblue;
}

#xat {
  background: #ccc;
  padding: 3px;
  display: grid;
  grid-template-columns: 35px 1fr 100px;
  grid-gap: 10px;
}

#xat input {
  border: 0;
  padding: 10px;
}

#xat input#nick-color {
  width: 100%;
  height: 100%;
  padding: 0;
}

#xat button {
  background: rgb(130, 224, 255);
  border: none;
}