<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <form id="login" action="">
      <input id="nick" autocomplete="off" placeholder="nick"/>
      <button>Send</button>
      <p id="login-error"></p>
    </form>
    <% include partials/scripts %>
  </body>
</html>