<div id="xat-grid">
  <div id="content">
    <ul id="messages"></ul>
    <ul id="users"></ul>
  </div>
  <form id="xat" action="">
    <input id="nick-color" type="color" value="#ff0000" />
    <input id="message" autocomplete="off" placeholder="message"/>
    <button>Send</button>
  </form>
 </div>